button{
    height: 35px;
    width:fit-content;
    margin: auto 15px;
    border: 5px solid var(--first);
    background-color: var(--second);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 3px 5px var(--third);
   
}

button:hover{
    border: 4px solid var(--white);
    background-color: var(--first);
    color:var(--white);
    cursor: pointer;
    animation-name: hoverAnimate;
    animation-duration: 3s;
}

@keyframes hoverAnimate{
    0% {box-shadow: 2px 3px 5px var(--third);}
    50%  {box-shadow: 4px 4px 5px white;}
    100%  {box-shadow: 2px 3px 5px var(--third);}
}

@media (min-width: 576px) {

}
@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }
@media (min-width: 1400px) { }