:root{
    --first: #273842;
    --second:#446a6b;
    --third:#627b7f;
    --fourth:#abbbc9;
    --fifth:#a13a33;
    --white:#c4d6ff;;
}
body{
    background-image: url("../../public/background.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:auto;
    font-family: "Lucida Console", "Courier New", monospace;
}
h1{
    font-size: 62px;
}
h2{
    font-size: 38px;
}
h3{
    margin: 35px 25px;
    font-size: 34px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 26px;
}
h6{
    font-size: 22px;
}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--first);
    height: fit-content;
    min-height: 300px;
    max-width:800px;
    margin: 20px auto;
    position: relative;
}

ul{
    list-style-type: none!important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li{
    align-items: center;
    position: relative;
    width: 90%;
    min-height: 45px;
    height: fit-content;
    padding:5px;
    margin: 15px auto;
    line-height: 45px;
}

input[type=text]{
    height: 25px;
    width: 75%;
    max-width: 250px;
    border-radius: 5px;
    margin: 15px;
}

input[type=checkbox]{
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin: 0px 15px;
    border: 3px solid var(--first);
}


@media (min-width: 576px) { 
    .layout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        background-color: var(--first);
        height: fit-content;
        min-height: 300px;
        margin: 20px auto;
        padding: 4px 8px;
        position: relative;
    }
 }

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .layout{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 8px;
        background-color: var(--first);
        width:90%;
        height: fit-content;
        min-height: 300px;
        max-width:800px;
        margin: 20px auto;
        padding: 4px 8px;
        position: relative;
    }
  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }